body {
  background-color: #F5F5F5;
 color: #212121; 
}
a {text-decoration: none;
color: #757575;}

a:hover, a:focus {color: #2196F3;}

ul {list-style: none;}

p {color: #757575;}

/* logo */
.logo {color:#2196F3;}
.logo {
  color: #2196F3;
}
.logo span {
  color: #000000;
}
/* navimenu */
.site-nav .link 
 {color:#212121 ;}

.site-nav .link:hover,
.site-nav .link:focus 
{ color: #2196F3;}

.site-nav .link.current {
color: #2196F3;
}

/* hero */

.hero {
  background-color: #2F303A;
  color: #FFFFFF;
} 
.button {
  background-color: blue;
  color: white;}

  /* footer */
  
footer {
      background-color:#2F303A ;}

.logo-footer {color: #2196F3;}
.logo-footer span {color: #FFFFFF;}
.location {color: #FFFFFF;}
  
  
  /* portf-page */

  /* portf-menu */
  .portf-menu {
    background-color: #F5F4FA;
  }
    .portf-menu .filtr:hover,
    .portf-menu .filtr:focus {
      background-color: #2196F3;
       color: #FFFFFF;}

.footer-link {
  color: rgba(255, 255, 255, 0.6);;
}