 body {
  ont-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
 }
li {
  list-style: none;
}
/* .top-line */

.top-line { 
position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.logo {
  position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
  color: black;
}
.logo:focus {
  color: #2196f3;
}
.logo:hover {
  color: #2196f3;
}
.logo::first-letter {color: #2196F3;}
.contact-link 
{ flex-direction: row;

}
.contact-link:focus {color: #2196f3;}
.contact-link:hover {color: #2196f3;}

.menu 
{
  display: flex;
  position: absolute;
    width: 281px;
    height: 16px;
    left: 453px;
    top: 32px;
}
.studio {
padding-right: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
color: #212121;
}
.studio:focus {color: #2196F3;}
.studio:hover {color: #2196F3;}

.portfolio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.portfolio:focus {color: #2196F3;}
.portfolio:hover {color: #2196F3;}

.contackts {
padding-left: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.contackts:focus {color: #2196F3;}
.contackts:hover {color: #2196F3;}
.letter
{
  color: #757575;
  position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
}
.letter:focus {color: #2196f3;}
.letter:hover {color: #2196f3;}

.call
{ color: #757575;
  position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
}
.call:focus {color: #2196f3;}
.call:hover {color: #2196f3;}

/* hero */
.hero {
  position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.title 
{
  padding-top: 200px;
  padding-right: 452px;
  padding-bottom: 280px;
  padding-left: 452px;
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: #FFFFFF;
}

/* button-one */

.button-one {
  position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
 background-color: #2196f3; 
    color: #FFFFFF;
}

/* features */
.features {
  
}

/* activity */
.activity {
}

/* our-team */
.our-team {
  
}

/* our-team */
.our-team {
}
